.form__item {
  border: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 9px;
  font-size: 14px;
  max-width: 358px;
  /* font-family: inherit; */
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__item::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4
}

.form__item::-webkit-input-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4
}

.form__item::-moz-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4
}

.form__item::-ms-input-placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4
}
