.profile__btn-change-avatar-img {
  width: 120px;
  height: 120px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  cursor: pointer;
  transition:  0.2s linear;
  position: absolute;
  opacity: 0;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .profile__avatar-container {
    margin: 0 auto;
  }
}

.profile__btn-change-avatar-img:hover{
opacity: 1;
}
