.form__input {
  border: 0;
  padding: 0 36px 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media screen and (max-width: 602px) {
  .form__input {
    padding: 0 22px 30px;
  }
}
