@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);

@import url(../blocks/page-color/page-color.css);
@import url(../blocks/page/page.css);

/* -------------------header------------------------- */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* -------------------profile------------------------- */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add/profile__add.css);

@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);

/* -------------------cards------------------------ */
@import url(../blocks/cards/cards.css);

/* -------------------card------------------------- */
@import url(../blocks/card/card.css);
@import url(../blocks/card/__title/card__tittle.css);
@import url(..//blocks/card/__img/card__img.css);
@import url(../blocks/card/__buttom/card__buttom.css);
@import url(../blocks/card/__heart/card__heart.css);
@import url(../blocks/card/__heart/_checked/card__heart_checked.css);
@import url(../blocks/card/__trash/card__trash.css);

/* -------------------footer-------------------------- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* -------------------popup-------------------------- */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);

/* -------------------popup-container----------------- */
@import url(../blocks/popup-container/popup-container.css);
@import url(../blocks/popup-container/__close-icon/popup-container__close-icon.css);
@import url(../blocks/popup-container/__title/popup-container__title.css);

/* -------------------popup-image----------------- */
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/__background/popup-image__background.css);
@import url(../blocks/popup-image/__photo/popup-image__photo.css);
@import url(../blocks/popup-image/__text/popup-image__text.css);
@import url(../blocks/popup-image/__container/popup-image__container.css);


/* -------------------form----------------- */
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__item/form__item.css);
