.profile__info {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 294px 24px;
  column-gap: 18px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    padding: 26px 0 36px 26px;
    grid-template-columns: 189px 18px;
    column-gap: 10px;
    row-gap: 7px;
    margin: 0 auto;
  }
}
