.card {
  background-color: #fff;
  max-width: 282px;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
  position: relative;
}



@media screen and (max-width: 600px) {
  .card {
   margin: 0 auto;
  }

}
