.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;
}
